<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    <link rel="stylesheet" href="style.css">

    <div class="container">
      <h1 style="background-color:
      <%-color.Vibrant._rgb[0] %> color.Vibrant._rgb[0];">...</h1>
      <!-- <%- JSON.stringify(color) %> -->
      <%- console.log("TEH: " + color) %>


    </div>

    <!-- <% for(var key in color) { %>
      <% for (var key2 in color[key]){%>
       <%- console.log(color[key][key2]) %>
    <% } } %> -->

    <!-- <%  Object.keys(color).forEach(function (key) { %>
        <%- console.log(Object.values(key)) %>
   <% }) %> -->

    <div class="colorBox" id="demobox0">
    </div>
    <div class="colorBox" id="demobox1">
    </div>
    <div class="colorBox" id="demobox2">
    </div>
    <div class="colorBox" id="demobox3">
    </div>
    <div class="colorBox" id="demobox4">
    </div>
    <div class="colorBox" id="demobox5">
    </div>
  </body>
</html>
